* {
    margin: 0%;
    box-sizing: border-box;
    /* background-color: aqua !important; */
}

body{
    background-image: url("../images/MainBackground.jpg") !important;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.formWrapper {

    width: 50%;
    background-color: rgba(57, 62, 65, 0.9);
    padding: 1%;
    color: white;
    border-radius: 5px;


}

.form-control{
    background-color: rgba(139, 139, 139, 0.9) !important;
}



.btn{
    color: white !important;
}

