*{
    margin: 0%;
    box-sizing: border-box;

}


html{
    height: 100%;

}

body{
    background-color: rgb(72, 64, 65) !important;
    overflow-x: hidden;

}


.hotelWrapper{
   height: fit-content;
   align-items: center;
}

.hotelCard{

    height: 25% !important;
    margin-bottom: 2%;
    margin-left: 2%;
    align-items: center;
    width: 19rem

}

.cardImages{
    height: 20rem;
}

